---
- name: Deploy VMs to Proxmox
  hosts: localhost
  gather_facts: false
  vars_files:
    - ../group_vars/all.yml
  vars:
    proxmox_api_host: "{{ lookup('env', 'PROXMOX_HOST') }}"
    proxmox_api_user: "{{ lookup('env', 'PROXMOX_USER') }}"
    proxmox_api_password: "{{ lookup('env', 'PROXMOX_PASSWORD') }}"
    
  tasks:
    - name: Create VM
      community.general.proxmox_kvm:
        api_host: "{{ proxmox_api_host }}"
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        node: "{{ proxmox_node }}"
        vmid: "{{ item.vmid }}"
        name: "{{ item.name }}"
        cores: "{{ item.cores | default(2) }}"
        memory: "{{ item.memory | default(2048) }}"
        net:
          net0: "virtio,bridge=vmbr0"
        ide:
          ide2: "{{ item.iso }},media=cdrom"
        scsihw: virtio-scsi-pci
        scsi:
          scsi0: "{{ item.storage | default('local-lvm') }}:{{ item.disk_size | default(32) }}"
        boot: "order=scsi0;ide2"
        ostype: "{{ item.ostype | default('l26') }}"
        state: present
      loop: "{{ vms }}"
      register: vm_results

    - name: Start VMs
      community.general.proxmox_kvm:
        api_host: "{{ proxmox_api_host }}"
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        node: "{{ proxmox_node }}"
        vmid: "{{ item.vmid }}"
        state: started
      loop: "{{ vms }}"

    - name: Wait for VMs to be accessible
      ansible.builtin.wait_for:
        host: "{{ item.ip }}"
        port: 22
        timeout: 300
      loop: "{{ vms }}"
      when: item.ip is defined

    - name: Configure console autologin for VMs
      ansible.builtin.shell: |
        ssh root@{{ item.ip }} "mkdir -p /etc/systemd/system/getty@tty1.service.d && cat > /etc/systemd/system/getty@tty1.service.d/override.conf << 'EOFINNER'
        [Service]
        ExecStart=
        ExecStart=-/sbin/agetty --autologin root --noclear %I \$TERM
        EOFINNER
        systemctl daemon-reload && systemctl restart getty@tty1"
      loop: "{{ vms }}"
      when: item.ip is defined
