---
- name: Deploy VMs to Proxmox
  hosts: localhost
  gather_facts: false
  become: false
  vars:
    proxmox_api_host: "{{ lookup('env', 'PROXMOX_HOST') }}"
    proxmox_api_user: "{{ lookup('env', 'PROXMOX_USER') }}"
    proxmox_api_password: "{{ lookup('env', 'PROXMOX_PASSWORD') }}"
    proxmox_node: "pve"
    # VM configuration (can be overridden with -e flags)
    vm_name_input: "{{ vm_name | default('debian-vm-01') }}"
    vm_id_input: "{{ vm_id | default(101) }}"
    vm_cores_input: "{{ vm_cores | default(2) }}"
    vm_memory_input: "{{ vm_memory | default(2048) }}"
    vm_disk_input: "{{ vm_disk | default(32) }}"
    vm_iso_input: "{{ vm_iso | default('local:iso/debian-13.1.0-amd64-netinst.iso') }}"
    vm_storage_input: "{{ vm_storage | default('local-lvm') }}"
    
  tasks:
    - name: Create VM
      community.general.proxmox_kvm:
        api_host: "{{ proxmox_api_host }}"
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        node: "{{ proxmox_node }}"
        vmid: "{{ vm_id_input }}"
        name: "{{ vm_name_input }}"
        cores: "{{ vm_cores_input }}"
        memory: "{{ vm_memory_input }}"
        net:
          net0: "virtio,bridge=vmbr0"
        ide:
          ide2: "{{ vm_iso_input }},media=cdrom"
        scsihw: virtio-scsi-pci
        scsi:
          scsi0: "{{ vm_storage_input }}:{{ vm_disk_input }}"
        boot: "order=scsi0;ide2"
        ostype: l26
        state: present

    - name: Start VM
      community.general.proxmox_kvm:
        api_host: "{{ proxmox_api_host }}"
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        node: "{{ proxmox_node }}"
        vmid: "{{ vm_id_input }}"
        state: started

